.tomato-timer-button {
	margin-left: 8px;
	cursor: pointer;
	background: none;
	color: var(--text-normal);
	border: none;
	padding: 3px 6px;
	transition: all 0.2s ease;
	font-weight: 500;
	letter-spacing: 0.5px;
	position: relative;

}

.tomato-timer-button:after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--text-normal);
	transition: width 0.3s ease;
}

.tomato-timer-button:hover {
	color: var(--text-accent);
	
}

.tomato-timer-button:hover:after {
	width: 100%;
}



.pomodoro-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.pomodoro-action {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	width: 100%;
	gap: 8px;
}

.pomodoro-new-btn {
	margin-top: 30px;
	cursor: pointer;
	background-color: var(--interactive-accent);
	color: white;
	border: none;
	padding: 6px 40px;
	border-radius: 3px;
	box-shadow: var(--shadow-elevation-low);
	transition: background-color 0.3s ease;
}

.pomodoro-btn {

	cursor: pointer;
	background-color: var(--interactive-accent);
	color: white;
	border: none;
	padding: 6px 10px;
	border-radius: 3px;
	box-shadow: var(--shadow-elevation-low);
	transition: background-color 0.3s ease;
}

.pomodoro-remain {
	font-size: 2.5rem;
	color: var(--color-base-100);
}

.pomodoro-task {
	font-size: 1.4rem;
	color: var(--color-base-80);
	margin-bottom: 20px;
	width: 80%;
	min-height: 2em;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}
